<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
    </ion-buttons>

    <ion-title>All</ion-title>

    <ion-buttons slot="end">
      <ion-spinner *ngIf="spinner.on" name="crescent"></ion-spinner>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
 

<ion-content >

 
  <app-skeleton-template [spinner]="spinner"></app-skeleton-template>
  
 
  <ion-list *ngIf="!spinner.on" >
     <ion-item class="slow"  *ngFor="let item of ALL_DATA | slice:startData:endData" (click)="showCountry(item)" detail >
     
      <ion-thumbnail slot="start">
        <ion-img [src]="item.flag"></ion-img>
      </ion-thumbnail>

      <ion-label> {{ item.name }} </ion-label>

    </ion-item> 
  

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button  color="tertiary">
      <ion-icon name="arrow-up" mode="ios"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top" >

      <ion-fab-button  color="tertiary" routerLink="/home/search">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>

      <ion-fab-button color="tertiary" (click)="refresh()">
        <ion-icon mode="ios" name="sync-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

  <ion-infinite-scroll  treshold="1px" (ionInfinite)="changeMore($event)">
    <ion-infinite-scroll-content color="tertiary" loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
