<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="flag"></ion-icon> 
    </ion-buttons>

    <ion-title>All</ion-title>

    <ion-buttons slot="end">
      <ion-spinner *ngIf="spinner.on" color="light" name="crescent"></ion-spinner>
      <ion-icon (click)="refresh()" slot="icon-only" *ngIf="!spinner.on" mode="ios" name="sync-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
 

<ion-content >

 
  <app-skeleton-template [spinner]="spinner"></app-skeleton-template>
  
 
  <ion-list *ngIf="!spinner.on" >
    
   
    <ion-item   class="slow" *ngFor="let item of ALL_DATA | slice:startData:endData" detail>
     
      <ion-thumbnail slot="start">
        <ion-img [src]="item.flag"></ion-img>
      </ion-thumbnail>

      <ion-label> {{ item.name }} </ion-label>

    </ion-item> 
  

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/home/search" color="tertiary">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll  treshold="1px" (ionInfinite)="changeMore($event)">
    <ion-infinite-scroll-content color="tertiary" loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
