<ion-header class="ion-no-border">
  <ion-toolbar color="danger"> 
    <ion-title>{{ data.name }}</ion-title>
 
    <ion-buttons slot="end">
      <ion-icon  name="close" slot="icon-only" (click)="closeModal()"></ion-icon> 
    </ion-buttons>

  </ion-toolbar>

</ion-header>

 
<ion-content>

 

  <ion-card  >
    <ion-card-header>
        <ion-card-title>{{data.name}}</ion-card-title>
        <ion-card-subtitle>{{data.cioc}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="data.flag"> </ion-img>
    </ion-card-content>

 
  </ion-card>
  <ion-list mode="ios">
    <ion-list-header>
      <h4>Capital</h4>
    </ion-list-header>

    <ion-item>
      <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
      <ion-label>{{ data.capital }}</ion-label>
    </ion-item>


    <ion-list-header>
      <h4>Region</h4>
    </ion-list-header>

    <ion-item>
      <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
      <ion-label>{{ data.region }}</ion-label>
    </ion-item>

    <ion-list-header>
      <h4>Subregion</h4>
    </ion-list-header>

    <ion-item>
      <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
      <ion-label>{{ data.subregion }}</ion-label>
    </ion-item>


    <ion-list-header>
      <h4>Nombre nativo</h4>
    </ion-list-header>

    <ion-item>
      <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
      <ion-label>{{ data.nativeName }}</ion-label>
    </ion-item>
 


  <ion-list-header>
    <h4>Moneda</h4>
  </ion-list-header>

  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <ion-label *ngIf="data.currencies[0].code">{{ data.currencies[0].code }}</ion-label> 
  </ion-item>

  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <ion-label>{{ data.currencies[0].name }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <ion-label>{{ data.currencies[0].symbol }}</ion-label>
  </ion-item>

  <ion-list-header>
    <h4>Habitantes</h4>
  </ion-list-header>

  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <ion-label>{{ data.population }}</ion-label>
  </ion-item>


  <ion-list-header>
    <h4>Bloque regional</h4>
  </ion-list-header>

  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <ion-label>{{ data.regionalBlocs[0].acronym }} </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <p>{{ data.regionalBlocs[0].name }} </p>
  </ion-item>


  <ion-list-header>
    <h4>Tiempo de zonas</h4>
  </ion-list-header>

  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <ion-label>{{ data.timezones[0] }}</ion-label>
  </ion-item>

  <ion-list-header>
    <h4>Código de llamadas</h4>
  </ion-list-header>

  <ion-item>
    <ion-icon color="danger" slot="start" name="radio-button-off-outline" mode="ios"></ion-icon>
    <ion-label>+{{ data.callingCodes[0] }} </ion-label>
  </ion-item>

</ion-list>

</ion-content>