<ion-header class="ion-no-border">
  <ion-toolbar mode="ios"> 
    <ion-title>{{ data }}</ion-title>
 
    <ion-buttons slot="end">
      <ion-button mode="md" (click)="closeModal()" *ngIf="!spinner.on">
        <ion-icon name="close"  slot="icon-only"></ion-icon> 
      </ion-button>
      <ion-spinner name="crescent" *ngIf="spinner.on"></ion-spinner>
    </ion-buttons>

    
  </ion-toolbar>

</ion-header>
  
 
<ion-content  >
  <app-skeleton-template [spinner]="spinner"></app-skeleton-template>
 
  <ion-item class="ups" *ngFor="let item of continents|slice:0:endData " (click)="showCountry(item)" detail>
  
    <ion-thumbnail slot="start">
      <ion-img [src]="item.flag"></ion-img> 
    </ion-thumbnail> 

    <ion-label>{{item.name}}</ion-label> 
  </ion-item>

  <ion-infinite-scroll  treshold="100px" (ionInfinite)="changeMore($event)">
    <ion-infinite-scroll-content  loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>