<ion-header class="ion-no-border">
  <app-toolbar title="Settings" iconName="settings" spinner="null"></app-toolbar>
</ion-header>

<ion-content>
 
<ion-list mode="ios" class="ups">
 

  <ion-item>
    <ion-icon slot="start" name="color-fill"></ion-icon>
    <ion-label>Dark theme
      <p>Light, Dark</p>
    </ion-label>
    <ion-toggle slot="end" (ionChange)="active($event)" [checked]="checkedTheme" ></ion-toggle>
  </ion-item>

 

  <ion-item (click)="openSheet()" detail> 
    <ion-icon slot="start" name="folder"></ion-icon>
    <ion-label>Delete caché</ion-label>
  </ion-item>

 

  <ion-item detail>
    <ion-icon slot="start" name="code-working"></ion-icon>
    <ion-label>Data api
      <p>Licence, resources</p>
    </ion-label>
  </ion-item>
 
  <ion-item detail>
    <ion-icon slot="start" name="information"></ion-icon>
    <ion-label>
      About phone
      <p>Satus, Phone name</p>
    </ion-label>
   
  </ion-item>


  <ion-item (click)="openReport()" detail> 
    <ion-icon slot="start" color="danger" name="warning-outline"></ion-icon>
    <ion-label>Report
      <p>Fail, errors</p>
    </ion-label>
  </ion-item>

  <ion-item (click)="openVersion()" detail> 
    <ion-icon slot="start" name="git-commit-outline"></ion-icon>
    <ion-label>App version 
      <p>1.0.0</p>
    </ion-label>
  </ion-item>
  
</ion-list>
 
</ion-content>

