 
<ion-header  class="ion-no-border">

   <ion-toolbar>
     <ion-title>Search</ion-title>
   </ion-toolbar>

 </ion-header>
 
 <ion-toolbar>
  <ion-searchbar mode="ios" class="ups" (keyup)="searchBar()" [(ngModel)]="keys"></ion-searchbar>
</ion-toolbar>
 <ion-content>
 
 
   <ion-list *ngIf="keys.length >= 3">
 
     <app-each-item [data]="searched" [key]="keys"></app-each-item>
   </ion-list>
 
 </ion-content>

 <ion-content style="text-align: center;">
  
    <ion-spinner *ngIf="spinner.on" name="crescent"></ion-spinner>
   
 </ion-content>
 