 
<ion-content>
    <ion-tabs  >
      <ion-tab-bar color="tertiary" slot="bottom">
  
        <ion-tab-button tab="explore">
          <ion-icon name="globe"></ion-icon>  
          <ion-label>Explore</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="all">
          <ion-icon name="list"  style="transform:scale(1.3)" ></ion-icon>
          <ion-label>All</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>  
          <ion-label>Search</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="setting">
          <ion-icon name="settings"></ion-icon>
          <ion-label>Setting</ion-label>
        </ion-tab-button>
       
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
  

<!--
<ion-content *ngIf="activeSlide">

    <ion-slides pager="true" style="height:100%">


        <ion-slide *ngFor="let slide of slidesPhoto; let index=index">
             
            <div style="margin-top: -10px">

                <ion-img [src]="slide.img"></ion-img>
               
                <div style="margin: 1em 0">
                    <h4 >{{slide.title}}</h4>
                </div>

                <ion-button (click)="redirectToHome()" size="small" color="tertiary" expand="full" *ngIf="index==1">Start</ion-button>
           </div>   
        </ion-slide>
  

    </ion-slides>

</ion-content>-->