<ion-content *ngIf="activeSlide">

    <ion-slides pager="true" style="height:100%">

        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Shapes 1</ion-card-title>
                </ion-card-header>
                <ion-img src="../../assets/shapes.svg">

                </ion-img>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>

                <ion-card-header>
                    <ion-card-title>Shapes 2</ion-card-title>
                </ion-card-header>
                <ion-img src="../../assets/shapes.svg">

                </ion-img>
            </ion-card>
        </ion-slide>

    </ion-slides>

</ion-content>